@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
    overflow-x:hidden;
}

a {
    text-decoration: none;
    color:inherit;
}



h1,h2,h3 {
    font-family:'Oswald';
}

/*sticky header*/
.float-panel {
    width:100%;
    background:white;
    z-index:300;
    padding:10px 0; 
    transform: translateZ(0);
    transition:all 0.5s;
}
.float-panel .content-area {
    max-width:900px;
    margin:10px auto;
}
.float-panel a {
    font-size:14px;
    text-decoration:none;
    color:#444;
    display:inline-block;
    padding:10px 20px;
}                  
.float-panel .fa-gg {                  
    color:#F0595C;
    font-size:30px;
    vertical-align:middle;                  
    transition:all 0.5s;                  
}

/* Float Panel: class="float-panel fixed" */

.fixed {
    box-shadow:0 2px 6px rgba(0,0,0,0.2);  
    padding:4px 0;
    animation:slide-down 0.5s;
    opacity:0.9;    
}                  
.fixed .fa-gg {                  
    transform: rotate(360deg);      
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}

.bg-grey {
	background-color: #efefef;

	
}

.vcenter {
		display: flex;
		justify-content:center;
		align-items:center;
}

.vcenter_l-aligned {
	display: flex;
	flex-direction:column;
	justify-content:center;
}

#hero {
	/*background-image:url('../img/cover.jpg');
	background-size:cover;*/
    width:100%;
    position: relative;
}

.hero-text {
    position: absolute;
    width: 100%;
    top:-500px;
}

section#howitworks,#team,#contact,#leaveanywhere,
#kickstarter,#benefits {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-heading {
	font-size: 30px;
	padding:20px;
}

footer {
	background-color: black;
	color:white;
}

.parallax {
    height:400px;
    background-size:cover; /*forces the background image to occupy the total available space by expanding it proportionally*/
    background-attachment: fixed; /*fixes the bakcground while content scrolls past it*/
    background-repeat:no-repeat; /*not really necessary*/
    color:white;
}

#bg-1{ background-image:url('../img/levitates.jpg'); }

#bg-2{ background-image:url('../img/overlay.jpg');
color:black;}

#kickstarter {
    background-image:url('../img/ks.JPG');
    background-size: cover;
}

.quick-links {
    list-style:none;
}

.modal-content {
    text-align:center;
}

.modal-content input.form-control {
    margin:20px 0;
}

/*round button*/
.btn-lg.round {
    border-radius: 24px;
    padding: 10px 70px;
}