<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
      <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->
      <title>30111 Entre</title>

      <link rel="stylesheet" href="css/styles.css" type='text/css' >
      <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
      <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->

      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



    <!-- each page's unique css -->
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    
    
    
  </head>
  <body>
     
    <div class="float-panel" data-top="0" data-scroll="80">
      <div class="content-area" style="text-align:right;">
          <a href="#" style="float:left;">
              <i class="fa fa-gg"></i>
              <strong>30111 ENTRE</strong>
          </a>
          <a href="#hero">Get It</a>
          <a href="#howitworks">How it Works</a>
          <a href="#team">The Team</a>
          <a href="#contact">Contact Us</a>
      </div>
    </div>

    <section id="hero">
      <img class="img-responsive" src="img/cover.jpg">
      <div class="container">
        <div class="col-md-6"></div>
        <div class="col-md-6">

          <div class="row vcenter_l-aligned hero-text">
            <h1 style="color:white;">Babo</h1>
            <br/>
            <p style="color:white;">The World's FIrst Floating Diffuser<p>

          </div>
        </div>
    </section>

    <section class="parallax vcenter" id="bg-2">
      <div class="container">
        <div class="row text-center">
          <h1>A Never Before Table Top Experience</h1> 
        </div>
      </div>
    </section>

    <section id="benefits">
      <div class="row vcenter">
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-right:0px;">
          <img class="img-responsive" src="img/img2.jpg">
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
          <h1>It Floats...</h1>
        </div>
      </div>

      <div class="row vcenter">
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
          <h1>It Smells..<br/>
            Good.</h1> 
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-left:0px;">
          <img class="img-responsive" src="img/img3.jpg">
          
        </div>
      </div>

      <div class="row vcenter">
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-right:0px;">
          <img class="img-responsive" src="img/customdesign.jpg">
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
          <h1>It is Customizable.</h1>
        </div>
      </div>

    </section>

    <section class="bg-grey" id="leaveanywhere">
      <div class="container">
        <div class="row text-center section-heading">
          Leave Babo Anywhere...
        </div>
        <img src="img/collated.gif" alt="gif2" style="width:100%;">

    </section>


    <section id="howitworks">
      <div class="container">

        <div class="row text-center section-heading">
          How it Works
        </div> 

        <div class="row vcenter">
          <img class="img-responsive" src="img/howitworks.jpg">
        </div>

        <div class="row vcenter">
          <p>**Wireless charging is part of our future plans.**</p>
        </div>
        
      </div>
    </section>

    <section class="parallax vcenter" id="bg-1">
      <div class="container">
        <h1>Magnetic Levitation</h1> 
        <p>Some Text</p>
      </div>
    </section>

    <section id="team">
      <div class="container">
        <div class="row text-center section-heading">
          About Us
        </div> 

        <div class="row vcenter">
          
          <div class="col-md-6">
            <img class="img-responsive" src="img/logo2.jpg">
          </div>
          <div class="col-md-6">
            <p>Poise [poiz] - noun<br/>
        a state of balance or equilibrium, as from equality or equal distribution of weight<br/><br/>

        We are Poiser. We serve to deliver and establish the greatest equilibrium that can be established through interactive table experiences, for office and home spaces.<br/><br/>

        We are a dynamic and energetic team, comprising of different personalities and skills from different disciplines. </p>
          </div>
        </div>
        
        
        <div class="row text-center section-heading">
          The Team
        </div> 
        <div class="row">
          <img class="img-responsive" src="img/team.jpg">
        </div>
      </div>
    </section>

    <section id="contact" class="bg-grey">
      <a href="https://www.google.com" target="_blank">
        <div class="container">
          
          <div class="col-md-6">
            <img src="img/walkingbabo.gif" alt="just a gif" style="width:100%;">
          </div>

          <div class="col-md-6"> 
            <div class="text-center section-heading">
              Support us on
            </div>
            <div class="row vcenter">
              <img style="width:50%" class="img-responsive" src="http://logonoid.com/images/kickstarter-logo.png">
            </div>   
          </div>       


          </div>
        </div>
      </div>
      </a>
    </section>

    <footer>
      <div class="container" style="padding-top:30px;padding-bottom:30px;">
        <div class="row">
          
          <div class="col-md-4">
            <img class="img-responsive" src="https://placehold.it/150x150">
          </div>

          <div class="col-md-4">
            About Us <br/>
            How it Works <br/>

          </div>

          <div class="col-md-4">
            Connect
          </div>


        </div>    

      </div>
    </footer> 


    <!--<script src="assets/js/scripts.js"></script>-->
    <script src="js/float-panel.js"></script>

  </body>

</html>