<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
      <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->
      <title>30111 Entre</title>

      
      <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->

      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



    <!-- each page's unique css -->
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css" >
    
  </head>
  <body>
     
    <div class="float-panel" data-top="0" data-scroll="80">
      <div class="content-area" style="text-align:right;">
          <a href="#" style="float:left;">
              <i class="fa fa-gg"></i>
              <strong>30111 ENTRE</strong>
          </a>
          <a href="#hero">Get It</a>
          <a href="#howitworks">How it Works</a>
          <a href="#team">The Team</a>
          <a href="#contact">Contact Us</a>
      </div>
    </div>

    <section id="hero">
      <div class="container">
        <div class="row vcenter_l-aligned" style="height:500px;">
          <h1 style="color:white;">Tantalus</h1>
          <br/>
          <p style="color:white;">Lorem Ipsum<p>

        </div>
      
    </section>

    <section id="howitworks">
      <div class="container">
        <div class="row text-center section-heading">
          How it Works
        </div> 
        
        <div class="row vcenter">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img class="img-responsive" src="http://placehold.it/585x300">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            Lorem Ipsum
          </div>

        </div>

        <div class="row vcenter">
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            Lorem Ipsum
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img class="img-responsive" src="http://placehold.it/585x300">
          </div>

        </div>

      </div>
    </section>

    <section id="team" class="bg-grey">
      <div class="container">
        <div class="row text-center section-heading">
          The Team
        </div> 

        <div class="row" style="padding-bottom:10px;display:flex;justify-content:space-between;">
            <img src="http://placehold.it/150x150">
            <img src="http://placehold.it/150x150">
            <img src="http://placehold.it/150x150">
        </div>

        <div class="row" style="display:flex;justify-content:space-between;">
          
            <img src="http://placehold.it/150x150">
            <img src="http://placehold.it/150x150">
          
          </div>          

      </div>
    </section>

    <section id="contact" >
      <div class="container">
        <div class="row text-center section-heading">
          Contact Us
        </div>    

      </div>
    </section>

    <footer>
      <div class="container" style="padding-top:30px;padding-bottom:30px;">
        <div class="row">
          
          <div class="col-md-4">
            <img class="img-responsive" src="http://placehold.it/150x150">
          </div>

          <div class="col-md-4">
            About Us <br/>
            How it Works <br/>

          </div>

          <div class="col-md-4">
            Connect
          </div>


        </div>    

      </div>
    </footer> 


    <!--<script src="assets/js/scripts.js"></script>-->
    <script src="/js/float-panel.js"></script>

  </body>

</html>
